<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <title>Mall</title>
</head>
<body>
    <div class="container mt-4">
      <table class="table text-center mt-4">
        <tbody>
        <tr th:action="@{/{nombre}}">
          <td th:each="d : ${informacion}" th:utext="${d}"></td>
        </tr>

        <!--<tr th:each="enlace : ${enlacesHtml}">
            <td><a th:href="@{/detalle/{id}(id=${enlace})}" th:id="${enlace}" th:utext="${enlace}"></a></td>
        </tr>-->

        </tbody>
      </table>
    </div>
</body>
</html>
