<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="styleLogin.css">
  <title>Iniciar Sesion</title>
</head>
<body>
<div class='sec_sup'>
  <button class='btn salir' onclick="history.back()"></button>
</div>
<div class='sec_imagen'>
  <div class='circulo'>
    <img class='logo' src='https://cdn.pixabay.com/photo/2020/02/10/14/21/shop-4836627_1280.png'></img>
  </div>
</div>

<div class='sec_btn'>
  <a class='btn sign_in'>Sign In</a>
  <a class='btn sign_up'>Sign Up</a>
</div>

<div class='sec_btn2'>
  <div class='espacio'>
    <input class='custom' type="text" id="user" name="user" placeholder='Usuario' size="20">
  </div>
  <div class='espacio' style='top:45%;'>
    <input class='custom' style='top:40%;' type="password" id="password" name="password" placeholder='Contraseña' size="20">
  </div>
  <a class='btn siguiente' onclick="iniciarSesion()"></a>

</div>
  <div style="text-align: center;">
    <h5>¿Aún no te has registrado? <a href="#" onclick="limpiarPantalla()" style="display: inline-block;">Hazlo ahora</a></h5>

   <!-- <h5>¿Aún no te has registrado? <a onclick="limpiarPantalla()" style="display: inline-block;">Hazlo ahora</a></h5>-->
  </div>

<script src="funcionesRegistro.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>
