* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 20px;
    /*width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)100%, rgba(0,0,0.5)100%), url('https://w0.peakpx.com/wallpaper/993/792/HD-wallpaper-people-inside-mall.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;*/
}
.sec_sup {
    position: relative;
    /*left: 60px;*/
    width:100% !important;
    height: 50px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}

.sec_tit {
    position: relative;
    top: 60%;
    left: 8%;
    width: 82%;
    /*400px;*/
    /*top: -18px;*/
    height: 100%;
    background-color: #34495e;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    border-radius: 10px;
}
.txt_user {
    position: relative;
    top: 10px;
    font-size: 26px !important;
    left: 8%;
    color: #000000 !important;
}
.sec_opc {
    position: relative;
    top: 40px;
    width: 100%;
    /*400px;*/
    height: 25px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.sec_opc_tipo {
    position: absolute;
    top: 20px;
    width: 10%;
    left: 15%;
    height: 25px;
    background-color: #bcbcbc;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.sec_opc_loc {
    position: relative;
    top: 20px;
    width: 20%;
    left: 40%;
    /*400px;*/
    height: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.sec_opc_bus {
    position: absolute;
    top: 20px;
    width: 20%;
    left: 70%;
    /*400px;*/
    height: 25px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.sec_cc {
    padding: 10px;
    font-size: 20px;
    color: black;
    word-wrap: break-word;
    overflow: auto;
    position: relative;
    top: 10px;
    left: 160px;
    width: 80%;
    height: 600px;
    border-radius: 10px;
    margin-top: 100px;
}
.btn{
    position: absolute;
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    /*background-size: 50px 50px;*/
    background-color: transparent;
    border-color: transparent;
}
.btn:hover{
    background-color:#c1beb6;
    cursor: pointer;
}
.btn.menu{
    top:2px;
    height:45px;
    background-size: 50px 45px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/56/56763.png');
    border-radius:10px;
    transition: all 0.6s ease-in-out;
}
.btn.menu:hover{
    transform: rotate(90deg);
}
.btn.fav{
    height:100%;
    width:100%;
    background-color:transparent;
    /*padding-left: 30px;*/
    text-align: center;
    border-radius:10px;
}
.btn.fav:hover{
    background-color: #999999;
}
.btn.loc{
    height:100%;
    width:100%;
    background-color: #bcbcbc;
    /*padding-left: 30px;*/
    text-align: center;
    border-radius:10px;
}
.btn.loc:hover{
    background-color: #999999;
}
.sec_btn_cc{
    position: absolute;
    top:2%;
    height:45%;
    width:20%;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.btn.cc{
    /*height:35%;
    width:15%;*/
    height: 80%;
    width: 100%;
    background-color: #bcbcbc;
    /*padding-left: 40px;*/
    border-radius:30px;
    background-size: cover;
}
.btn.cc:hover{
    background-color: #999999;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
.custom {
    width:100%;
    border-radius:10px;
}

.btn.star_cc{
    background-image:url('https://cdn-icons-png.flaticon.com/512/16/16666.png');
    top:85%;
    left:85%;
    height:28px;
    width:28px;
    background-size:28px 28px;
    border-radius:10px;
}
.btn.star_cc:hover{
    background-color: transparent;
    cursor: pointer;
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Estrella_amarilla.png/2048px-Estrella_amarilla.png');
}

.txt_btn_cc{
    position: absolute;
    top: 95%;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.img_ {
    left:15%;
    position: relative;
    height: 400px; /* Establece la altura deseada */
    width: 600px; /* Establece el ancho deseado */
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.noticia {
    position: relative;
    width: 100%;
    height: 400px;
    /*margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;*/
    border-width: 1px;
    border-style: solid;
    background-color: #dcdcdc;
    /*background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);*/
    border-radius: 25px;
    border-color: #4d4343;
}

.noticia h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.noticia p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    color: #000000;
}

.noticia a {
    color:white;
    text-decoration: none;
}

.noticia a:hover {
    text-decoration: underline;
}


.titular {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
}


.container {
    position: absolute;
    left: 55%;
    top: 5%;
    height: 90%;
    width: 40%;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: contain;*/
    background-size: cover;
}

/*.container img {
    position: absolute;
    top: 0;
    left: 50px;
    width: 150%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;

}*/


.contenido {
    position: absolute;
    left: 5%;
    width: 45%;
    height: 100%;
    /*margin-top: 10px;*/
    /*font-family: Arial, sans-serif;*/
    font-size: 16px;
    /*line-height: 1.5;*/
    color: #000000;
    text-align: justify;
}


/*.cuerpo {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.fecha {
    font-size: 14px;
    color: #000000;
}*/

.h-line{
    /*top:-35%;*/
    border-left: thick solid #000;
    border-left-width: 1px;
    height:100%;
    left: 50%;
    transform: rotate(90deg);
    position: relative;
}

.name_cc{
    font-weight: bold;
}