body {
    margin: 20px;
}
.sec_sup {
    position: relative;
    /*left: 60px;*/
    width:100% !important;
    height: 50px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.sec_tit {
    position: relative;
    left: 26%;
    width: 45%;
    /*400px;*/
    /*top: -18px;*/
    height: 100%;
    background-color: #ce7e00;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    border-radius: 10px;
}
.txt_user {
    position: relative;
    top: 10px;
    font-size: 26px !important;
    left: 8%;
    color: white !important;
}
.sec_opc {
    position: relative;
    top: 10px;
    width: 100%;
    /*400px;*/
    height: 25px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.sec_opc_tipo {
    position: absolute;
    top: 10px;
    width: 20%;
    top: -1px;
    left: 10%;
    height: 25px;
    background-color: #bcbcbc;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.sec_opc_loc {
    position: relative;
    top: 10px;
    width: 20%;
    top: -1px;
    left: 40%;
    /*400px;*/
    height: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.sec_opc_bus {
    position: absolute;
    top: 10px;
    width: 20%;
    top: -1px;
    left: 70%;
    /*400px;*/
    height: 25px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.sec_cc {
    position: relative;
    top: 20px;
    width: 100%;
    /*400px;*/
    height: 500px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.btn{
    position: absolute;
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    /*background-size: 50px 50px;*/
    background-color: transparent;
    border-color: transparent;
}
.btn:hover{
    background-color:#c1beb6;
    cursor: pointer;
}
.btn.menu{
    top:2px;
    height:45px;
    background-size: 50px 45px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/56/56763.png');
    border-radius:10px;
    transition: all 0.6s ease-in-out;
}
.btn.menu:hover{
    transform: rotate(90deg);
}
.btn.fav{
    height:100%;
    width:100%;
    background-color:transparent;
    /*padding-left: 30px;*/
    text-align: center;
    border-radius:10px;
}
.btn.fav:hover{
    background-color: #999999;
}
.btn.loc{
    height:100%;
    width:100%;
    background-color: #bcbcbc;
    /*padding-left: 30px;*/
    text-align: center;
    border-radius:10px;
}
.btn.loc:hover{
    background-color: #999999;
}
.sec_btn_cc{
    position: absolute;
    top:2%;
    height:45%;
    width:20%;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;*/
}
.btn.cc{
    /*height:35%;
    width:15%;*/
    height: 80%;
    width: 100%;
    background-color: #bcbcbc;
    /*padding-left: 40px;*/
    border-radius:30px;
    background-size: cover;
}
.btn.cc:hover{
    background-color: #999999;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
.custom {
    width:100%;
    border-radius:10px;
}

.btn.star_cc{
    background-image:url('https://cdn-icons-png.flaticon.com/512/16/16666.png');
    top:85%;
    left:85%;
    height:28px;
    width:28px;
    background-size:28px 28px;
    border-radius:10px;
}
.btn.star_cc:hover{
    background-color: transparent;
    cursor: pointer;
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Estrella_amarilla.png/2048px-Estrella_amarilla.png');
}

.txt_btn_cc{
    position: absolute;
    top: 95%;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.img_{
    position: absolute;
    top:12%;
    left:65%;
    height: 75%;
    width: 30%;
    /*object-fit:fill;*/
    border-radius: 10px;
}