/*Seccion superior*/
.sec_sup {
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 50px;
}
/*Secion de la informacion*/
.sec_middle{
    position: relative;
    left: 5%;
    width: 90%;
    height: 550px;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 15px;*/
}
/*Mitad izquierda*/
.sec_middle1{
    position: absolute;
    width: 50%;
    height: 100%;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    background-color: #e7e7e7;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
/*Mitad derecha*/
.sec_middle2{
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    background-size: cover;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
/*Texto*/
.txt_tit{
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    color: #000000;
    /**/
    transition: all 0.6s ease-in-out;
}
.txt_cc{
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 35px;
    text-align: left;
    vertical-align: middle;
    border-radius: 15px;
    color: #4d4d4d;
    /**/
    transition: all 0.6s ease-in-out;
}
.txt_noticia{
    font-size: 16px;
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    height: 360px;
    overflow: auto;
    text-align: left;
    vertical-align: middle;
    /*border-width: 1px;
    border-style: solid;
    border-color: black;*/
    border-radius: 15px;
    color: #4d4d4d;
    /**/
    transition: all 0.6s ease-in-out;
}
.txt_fecha{
    font-size: 16px;
    /*padding-top: 5px;*/
    padding-left: 35px;
    text-align: left;
    vertical-align: middle;
    border-radius: 15px;
    color: #4d4d4d;
    /**/
    transition: all 0.6s ease-in-out;
}

/*Boton*/
.btn{
    position: absolute;
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    /*background-size: 50px 50px;*/
    background-color: transparent;
    border-color: transparent;
}
/*Boton salir*/
.btn.salir{
    top:2px;
    height:45px;
    background-size: cover;
    background-image:url('https://raw.githubusercontent.com/danieeeel11/Datasets/main/back.png');
    border-radius:40px;
    transition: all 0.6s ease-in-out;
}
.btn:hover{
    background-color:#c1beb6;
    cursor: pointer;
}