/*body {
    margin: 20px;
}
.sec_sup {
    position: relative;
    width:100% !important;
    height: 50px;
}
.sec_tit {
    position: relative;
    left: 26%;
    width: 45%;
    height: 100%;
    background-color: #ce7e00;
    border-radius: 10px;
}
.txt_user {
    position: relative;
    top: 10px;
    font-size: 26px !important;
    left: 8%;
    color: white !important;
}
.sec_opc {
    position: relative;
    top: 10px;
    width: 100%;
    height: 25px;
}
.sec_opc_tipo {
    position: absolute;
    top: 10px;
    width: 20%;
    top: -1px;
    left: 10%;
    height: 25px;
    background-color: #bcbcbc;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.sec_opc_loc {
    position: relative;
    top: 10px;
    width: 20%;
    top: -1px;
    left: 40%;
    height: 25px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}

.sec_opc_bus {
    position: absolute;
    top: 10px;
    width: 20%;
    top: -1px;
    left: 70%;
    height: 25px;
}
.sec_cc {
    position: relative;
    top: 20px;
    width: 100%;
    height: 500px;
}
.btn{
    position: absolute;
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    background-color: transparent;
    border-color: transparent;
}
.btn:hover{
    background-color:#c1beb6;
    cursor: pointer;
}
.btn.menu{
    top:2px;
    height:45px;
    background-size: 50px 45px;
    background-image:url('https://cdn-icons-png.flaticon.com/512/56/56763.png');
    border-radius:10px;
    transition: all 0.6s ease-in-out;
}
.btn.menu:hover{
    transform: rotate(90deg);
}
.btn.fav{
    height:100%;
    width:100%;
    background-color:transparent;
    text-align: center;
    border-radius:10px;
}
.btn.fav:hover{
    background-color: #999999;
}
.btn.loc{
    height:100%;
    width:100%;
    background-color: #bcbcbc;
    text-align: center;
    border-radius:10px;
}
.btn.loc:hover{
    background-color: #999999;
}
.sec_btn_cc{
    position: absolute;
    top:2%;
    height:45%;
    width:20%;
}
.btn.cc{
    height: 80%;
    width: 100%;
    background-color: #bcbcbc;
    border-radius:30px;
    background-size: cover;
}
.btn.cc:hover{
    background-color: #999999;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}
.custom {
    width:100%;
    border-radius:10px;
}

.btn.star_cc{
    background-image:url('https://cdn-icons-png.flaticon.com/512/16/16666.png');
    top:85%;
    left:85%;
    height:28px;
    width:28px;
    background-size:28px 28px;
    border-radius:10px;
}
.btn.star_cc:hover{
    background-color: transparent;
    cursor: pointer;
    background-image:url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Estrella_amarilla.png/2048px-Estrella_amarilla.png');
}

.txt_btn_cc{
    position: absolute;
    top: 95%;
    width: 80%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: black;
}
.sec_distancia_cc{
    position: absolute;
    top: 5%;
    left: 50%;
    width: 45%;
    height: 15%;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
}
.sec_logo_ubi{
    position: relative;
    top: -2%;
    width: 25%;
    height: 95%;
    background-image: url("https://images.vexels.com/media/users/3/131261/isolated/preview/b2e48580147ca0ed3f970f30bf8bb009-marcador-de-ubicacion-del-mapa.png");
    background-size: cover;
}
.txt_distancia_cc{
    position: absolute;
    top: -37%;
    left: 25%;
    font-size: 14px;
    color: black;
}
.img_{
    position: absolute;
    top:12%;
    left:65%;
    height: 75%;
    width: 30%;
    border-radius: 10px;
}*/

/*FOOOTER*/

/*:::::Pie de Pagina*/
.pie-pagina {
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}