<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" /> <!-- ASCII LECTOR-->
    <link rel="stylesheet" href="../css/index.css"/>
    <!--
    Viewport:
        hace que la pag web sea adaptable a cualquier sistema opertivo
    content="width=device-width:
        Se reduce la pag de acuerdo al dispositivo que se utilize
    initial-scale:
        todos los elementos se reducen de acuerdo al dispositivo que se esta trabajando


    shrink-to-fit=no:
        preguntar para que sirve
        -->
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Es el elemento encargado de indicar la información de estilo,
            Elemento de cabecera
            Todo lo que se defina aqui tambien se puede poner como parametro en style de esa stiqueta -->

    <!--<link rel="stylesheet" href="estiloPrincipal.css">-->
    <title>MALLforYOU</title>
</head>
<body>
    <div hidden>
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Horario</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="centroscomerciales:${cc}">
                <td th:text="${centroscomerciales.nombre}"></td>
                <td th:text="${centroscomerciales.descripcion}"></td>
                <td th:text="${centroscomerciales.horario}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class='sec_sup'>
        <a class='btn menu' th:href="@{/menu}"></a>
        <a class='btn perfil' th:href="@{/principal_noLog}"></a>
        <button class='btn campana'></button>
        <h1 class='txt_user'>Bienvenido Usuario</h1>
    </div>
    <div class='sec_tend'>
        <div class='sec_tend_inicio'>
            <div class='cc_tit'>
                <button class='btn tit_cc'>
                    <p class='txt_btn_tit_cc'>PARQUE LA COLINA</p>
                </button>
                <button class='btn star_cc' onclick="addFav()"></button>
            </div>
            <div class='tend_tit'>
                <button class='btn tend'>REBAJAS DE VERANO, EL PRÓXIMO VIERNES EN H&M, FALABELLA, CHEVIGNON.<br>¡DESCRUBRE MÁS OFERTAS AQUÍ!</button>
                <button class='btn des_1'></button>
                <button class='btn des_2'></button>
                <button class='btn des_3'></button>
                <button class='btn des_4'></button>
            </div>
        </div>
    </div>
    <div class='sec_bot'>
        <button class='btn parq'>
            <p class='txt_btn_parq'>PAGO DE<br>PARQUEADERO<br>ONLINE</p>
            <img class='img_' src='https://cdn-icons-png.flaticon.com/512/1167/1167984.png'></img>
        </button>
        <a  th:href="@{/listaCC}" class='btn cc'>
            <p class='txt_btn_cc'>CENTROS<br>COMERCIALES</p>
            <img class='img_' src='https://cdn1.iconfinder.com/data/icons/shopping-online-37/64/shop-store-online-shopping-shopping_mall-512.png'></img>
        </a>
    </div>

<!--
    <div class="container mt-4">
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Horario</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="centroscomerciales:${cc}">
                <td th:text="${centroscomerciales.nombre}"></td>
                <td th:text="${centroscomerciales.descripcion}"></td>
                <td th:text="${centroscomerciales.horario}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="containner mt-4">
        <table class="table">
            <a th:href="@{/listaCC}" class="btn btn-primary">ListaCC</a>
        </table>
    </div>-->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
    ></script>
    <script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
    ></script>
    <script>

        var estado = 0;
        const star = document.querySelector(".btn.star_cc");
        function addFav(){
            if(estado==0){
                star.style.backgroundImage = "url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/Estrella_amarilla.png/2048px-Estrella_amarilla.png')";
                estado = 1;
            }else{
                star.style.backgroundImage = "url('https://cdn-icons-png.flaticon.com/512/16/16666.png')";
                estado = 0;
            }
        }
    </script>
</body>
</html>