<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../Css/infoCC.css"/>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

   <style>
    body {
      margin: 20px;
    }
  </style>

  <title>Mall</title>
</head>
<body>
<div class='sec_sup'>
  <button class='btn back' onclick="history.back()"></button>
</div>
<div class='sec_info' th:action="@{/{nombre}}" th:each="data : ${informacion}" th:utext="${data}">
  <!--<div th:each="data : ${informacion}" th:utext="${data}"></div>-->

  <!--<div class='sec_info_sup'>
    <div class='sec_logo'>
    </div>
    <div class='sec_name'>
      <p class='txt_name'>Titan Plaza</p>
    </div>
  </div>
  <div class='sec_info_mid'>
    <div class='sec_mid1'>
      <div class='sec_images'>
        <p class='txt_info' style='position:absolute;'>Titán Plaza es un centro comercial de talla internacional ubicado en uno de los puntos estratégicos de Bogotá, Av. Boyacá con Calle 80, diseñado bajo un concepto arquitectónico inspirado en crear un lugar amigable con la naturaleza.</p>
      </div>
      <p class='txt_info'>Av. Boyacá #80-94, Bogotá D.C.</p>
    </div>
    <div class='sec_mid2'>
      <div class='sec_maps'></div>
      <p class='txt_info'>Mapa</p>
    </div>
  </div>
  <div class='sec_info_bot'>
    <div class='sec_horario'>
      <p class='txt_info' style='font-size:12px;'>Domingo a Domingo de 10:00 am a 9:00 pm</p>
    </div>
    <div class='sec_btnes'>
      <a class='btn tiendas'>Tiendas</a>
      <a class='btn mapIn'>Mapa Interactivo</a>
    </div>
  </div>-->
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>