<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../Css/ListaCCfav.css"/>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <style>
    body {
      margin: 20px;
    }
  </style>

  <title>Centros Comerciales | Favoritos</title>
</head>
<body>
<div class='sec_sup'>
  <a class='btn menu' th:href="@{/menu}"></a>
  <div class='sec_tit'>
    <h1 class='txt_user'>CENTROS COMERCIALES</h1>
  </div>
</div>
<div class='sec_opc'>
  <div class='sec_opc_tipo'>
    <a class='btn fav' th:href="@{/listaCC}">General</a>
  </div>
  <div class='sec_opc_loc'>
    <a class='btn loc'>Cerca de mi</a>
  </div>
  <div class='sec_opc_bus'>
    <input class='custom' type="text" id="name" name="name" size="10">
  </div>
</div>
<div class='sec_cc' th:action="@{/listaCC}">
  <a th:each="enlace : ${enlacesHtml}" th:utext="${enlace}"></a>
</div>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>