<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../Css/principal_noLog.css"/>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <style>
    body {
      margin: 20px;
    }
  </style>
  <title>MALLforYOU</title>
</head>
<body>
<div hidden>
  <table class="table">
    <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Horario</th>
    </tr>
    </thead>
    <tbody>

    <tr th:each="centroscomerciales:${cc}">
      <td th:text="${centroscomerciales.nombre}"></td>
      <td th:text="${centroscomerciales.descripcion}"></td>
      <td th:text="${centroscomerciales.horario}"></td>
    </tr>
    </tbody>
  </table>
</div>
<div class='sec_sup'>
  <a class='btn menu' th:href="@{/menu}"></a>
  <a class='btn registro'>Registrarse Ahora</a>
  <a class='btn login'  th:href="@{/login}">Iniciar Sesión</a>
</div>
<div class='sec_tend'>
  <div class='sec_tend_inicio'>
    <div class='cc_tit'>
      <button class='btn tit_cc'>
        <p class='txt_btn_tit_cc'>PARQUE LA COLINA</p>
      </button>
    </div>
    <div class='tend_tit'>
      <button class='btn tend'>REBAJAS DE VERANO, EL PRÓXIMO VIERNES EN H&M, FALABELLA, CHEVIGNON.<br>¡DESCRUBRE MÁS OFERTAS AQUÍ!</button>
      <button class='btn des_1'></button>
      <button class='btn des_2'></button>
      <button class='btn des_3'></button>
      <button class='btn des_4'></button>
    </div>
  </div>
</div>
<div class='sec_bot'>
  <button class='btn parq'>
    <p class='txt_btn_parq'>OLVÍDATE DE LAS <br>FILAS<br><br>PAGA TU<br>PARQUEADERO<br>AQUÍ</p>
    <img class='img_' src='https://cdn-icons-png.flaticon.com/512/1167/1167984.png'></img>
  </button>
  <a  th:href="@{/listaCC_noLog}" class='btn cc'>
    <p class='txt_btn_parq'>UBICA TUS TIENDAS<br>FAVORITAS<br><br>CENTROS<br> COMERCIALES Y<br>MAPAS INTERACTIVOS</p>
    <img class='img_' style='' src='https://cdn1.iconfinder.com/data/icons/shopping-online-37/64/shop-store-online-shopping-shopping_mall-512.png'></img>
  </a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"
></script>
<script
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"
></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"
></script>
</body>
</html>